/* Versione tablet */

@media screen and (max-width: 768px) {
    .container{
        width: 768px;
    }

    
}

/* Versione mobile */

@media screen and (max-width: 480px) {
    .container{
        width: 480px;
        
    }

    .row{
        flex-direction: column;
        align-items: center;
    }

    
}











